body {
    margin: 0;
    color: #707885;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400
}

a {
    text-decoration: none;
    color: #3d5d69; !important;
}

a:hover{
    color: #000303; !important;
}

.bg-badge{
    background-color: #3d5d69;
}

.bg-color {
    background-color: #f5f9fc!important;
}

.bd-navbar {
    padding: .75rem 0;
    background-color: #3d5d69
}

/*Track*/
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/*Handle*/
::-webkit-scrollbar-thumb {
    background-color: #3d5d69;
    border-radius: 10px;
}

/*Width*/
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

